html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Courier;
}
.container-fluid {
  padding: 0;
  overflow: hidden;
}
.menu {
  top: 0;
  position: fixed;
  z-index: 5;
}
#menu li a {
  padding: 5px 15px;
  border-color: cornflowerblue;
  background-color: greenyellow;
  border-left: 5px solid black;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.4;
  color: black;
}
#menu li a:hover,
#menu li a.active {
  background-color: cornflowerblue;
  transition-duration: 0.5s;
  opacity: 1;
}
#myPhoto {
  left: 40%;
  height: 40vh;
  width: auto;
  position: absolute;
}
.section {
  height: 60vh;
  background-color: gainsboro;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5 rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  line-height: 8vh;
}
.QnA h2 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#WelcomeShoeBox h2 {
  text-align: right;
  line-height: 5vh;
}
#WelcomeShoeBox {
  top: 50vh;
  height: 10vh;
  transform: translateY(-50%);
  position: absolute;
  background-color: gainsboro;
}
.row {
}
img {
  width: 100%;
  z-index: -1;
}
p {
  margin: 0px;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}
.parallax {
  height: 20vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-color: aqua;
}
.head {
  height: 100vh;
  background-image: url("img/span/1.jpg");
}
.span1 {
  top: 100vh;
  height: 30vh;
  transform: translateY(-100%);
  position: relative;
  opacity: 0;
}
.span2 {
  background-image: url("img/span/2.jpg");
}
.span3 {
  background-image: url("img/span/3.jpg");
}
.span4 {
  background-image: url("img/span/4.jpg");
}
.span5 {
  background-image: url("img/span/5.jpg");
}
.span6 {
  background-image: url("img/span/6.jpg");
}
.span7 {
  background-image: url("img/span/7.jpg");
}

/*
<div class="dec d1"></div>
<div class="dec d2"></div>
<div class="dec d3"></div>
.dec {
  margin: 0;
  padding: 0;
  position: absolute;
}
.d1 {
  width: 300px;
  height: 100px;
  left: 15%;
  top: 60%;
  border: 2px solid aquamarine;
}
.d2 {
  width: 125px;
  height: 200px;
  left: 67%;
  top: 8%;
  border: 2px solid cornflowerblue;
}
.d3 {
  width: 100px;
  height: 250px;
  left: 72%;
  top: 20%;
  border: 2px solid darkmagenta;
}*/
